<h2>All the tags you can handle</h2>

<% tags.forEach(function(t) {%>
	<div>
		<a href="/tags/<%= t.id %>" style="font-size:28px;">
			#<%= t.name %>
		</a>
		<a href="/tags/edit<%= t.id %>" class="btn btn-sm btn-warning">
			Wanna change?
		</a>
		<a href="/tags/<%= t.id %>" class="btn btn-sm btn-danger delete-btn">
			Do you hate this tag?
		</a>
	</div>
<%});%>